<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grifindo_Toys_Factory.Properties.Settings.Grifindo_Toys_FactoryConnectionString"
            connectionString="Data Source=JMSPUNSARAMSI\SQLEXPRESS;Initial Catalog=Grifindo_Toys_Factory;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
